# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Certificates
*.pem

# local env files
# Exclude all environment files to prevent leaking sensitive credentials.
# It's a good practice to create a `.env.example` file with dummy values and commit it.
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# Editor-specific files
.idea/
.vscode/

# generated native folders
/ios
/android
